@page "/" 
@inject IIndexViewModel IndexViewModel

<h1>Shopping Cart</h1>
<ul>
    @foreach (var item in IndexViewModel.ShoppingCart.Items)
    {
    <li>
        <span class="alert-light">&nbsp;@item.Quantity&nbsp;</span>
        of <span class="alert-light">&nbsp;@item.Product.Name&nbsp;</span>
        at <span class="alert-light">&nbsp;@item.Product.Price&nbsp;</span>
        each = <span class="alert-light">&nbsp;@item.Total&nbsp;</span>
    </li>
    }
</ul>
<div>
    Total: @IndexViewModel.ShoppingCart.Total
</div>
<br />
<button @onclick="IndexViewModel.UpdateModels">Update Models</button>
